@media screen and (min-width: $breakpoint-phone) {
  .loader {
    width: 50vw;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .loader {
    width: 40vw;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .loader {
    width: 20vw;
  }
}
