.start {
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__h1 {
    width: 100%;
    padding-bottom: 20px;
  }
  &__news {
    display: flex;
    flex-direction: column;
    color: $font-color-primary;
    border-radius: 30px;
    margin-top: 25px;
    transform: rotate(0deg) scale(1);
    transition: 0.4s;
    background-size: cover;
    background-position: center;
  }
  &__news:hover,
  &__news:focus {
    transform: rotate(10deg) scale(0.8);
  }
  &__news-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 0px 18px 0px $start-box-shadow-color;
    background-color: $news-wrap-color;
  }
}
