@media screen and (min-width: $breakpoint-phone) {
  .calendar {
    flex-direction: column;
    padding: 10px;
    &__h1 {
      font-size: $phone-h1-font-size;
      padding-bottom: 15px;
    }
    &__event {
      width: 100%;
      height: 60vh;
    }
    &__h2 {
      font-size: $phone-h2-font-size;
    }
    &__name,
    &__location,
    &__date {
      font-size: $phone-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .calendar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    &__h1 {
      font-size: $tablet-h1-font-size;
      padding-bottom: 15px;
    }
    &__event {
      width: 49%;
      height: 50vh;
    }
    &__h2 {
      font-size: $tablet-h2-font-size;
    }
    &__name,
    &__location,
    &__date {
      font-size: $tablet-font-size;
    }
  }
}

@media screen and (min-width: $breakpoint-phone-landscape) and (orientation: landscape) {
  .calendar {
    flex-direction: column;
    padding: 10px;
    &__h1 {
      font-size: $phone-h1-font-size;
      padding-bottom: 5px;
    }
    &__event {
      width: 100%;
      height: 90vh;
    }
    &__h2 {
      font-size: $phone-h2-font-size;
    }
    &__name,
    &__location,
    &__date {
      font-size: $phone-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-tablet-landscape) and (orientation: landscape) {
  .calendar {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    &__h1 {
      font-size: $tablet-h1-font-size;
      padding-bottom: 15px;
    }
    &__event {
      width: 49%;
      height: 65vh;
    }
    &__h2 {
      font-size: $tablet-h2-font-size;
    }
    &__name,
    &__location,
    &__date {
      font-size: $tablet-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .calendar {
    padding: 15px;
    &__h1 {
      font-size: $desktop-h1-font-size;
      padding-bottom: 10px;
    }
    &__event {
      width: 49%;
      height: 68vh;
    }
    &__h2 {
      font-size: $desktop-h2-font-size;
    }
    &__name,
    &__location,
    &__date {
      font-size: $desktop-font-size;
    }
  }
}
