@media screen and (min-width: $breakpoint-phone) {
  .buttons-details {
    font-size: $phone-font-size;
  }
  .back-button {
    width: 50px;
    height: 50px;
    font-size: $phone-icon-size;
  }
  .back-button::after {
    width: 50px;
  }
  .back-button:hover::after {
    height: 50px;
  }
  .back-button:focus::after {
    height: 50px;
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .buttons-details {
    font-size: $tablet-font-size;
  }
  .back-button {
    width: 80px;
    height: 80px;
    font-size: $tablet-icon-size;
  }
  .back-button::after {
    width: 80px;
  }
  .back-button:hover::after {
    height: 80px;
  }
  .back-button:focus::after {
    height: 80px;
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .buttons-details {
    font-size: $desktop-font-size;
  }
  .back-button {
    width: 100px;
    height: 100px;
    font-size: $desktop-icon-size;
  }
  .back-button::after {
    width: 100px;
  }
  .back-button:hover::after {
    height: 100px;
  }
  .back-button:focus::after {
    height: 100px;
  }
}
