.button-details {
  text-decoration: none;
  width: 50%;
  border-radius: 15px;
  padding: 10px 5px;
  background-color: #90e0ef;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid #004266;
  color: #010114;
  transition: 0.4s;
}

.button-details:hover {
  background-color: #175d69;
  border-color: #68e8ff;
  color: white;
}

.button-details:focus {
  background-color: #175d69;
  border-color: #68e8ff;
  color: white;
}

.back-button {
  position: relative;
  margin-left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.back-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 0;
  background-color: black;
  border-radius: 10px;
  z-index: -1;
  transition: 0.3s;
}

.back-button:hover {
  color: white;
}

.back-button:focus {
  color: white;
}
