.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $header-bg-color;
  transition: 0.3s;
  overflow: hidden;
  z-index: 3;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    color: $font-color-primary;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2vw;
  }
  &__menu-icon {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: center;
    color: $font-color-primary;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__menu-icon:hover,
  &__menu:focus {
    color: #f7bfbf;
  }
  &__menu-icon i {
    transition: 0.3s;
    transform: rotate(0deg);
  }
  &__menu-icon--active i {
    transform: rotate(540deg);
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
  }
  &__menu--active {
    opacity: 1;
  }
  &__menu-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__menu-item {
    color: $font-color-primary;
  }
  &__menu-link {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color: $font-color-primary;
    font-family: $primary-font-family;
    font-weight: 400;
  }
  &__menu-link::before,
  &__menu-link::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: none;
    height: 100%;
    background-color: $font-color-primary;
    border-radius: 30px;
  }
  &__menu-link::after {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  &__menu-link--selected::before,
  &__menu-link--selected::after {
    display: block;
  }
}
