@media screen and (min-width: $breakpoint-phone) {
  .details {
    padding: 10px;
    &__h1 {
      font-size: $phone-h1-font-size;
      padding-bottom: 15px;
    }
    &__div {
      width: 100%;
      height: 58vh;
    }
    &__h2 {
      font-size: $phone-h2-font-size;
      margin-bottom: 30px;
    }
    &__p {
      padding: 6px;
      font-size: $phone-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-tablet) {
  .details {
    padding: 10px;
    &__h1 {
      font-size: $tablet-h1-font-size;
      padding-bottom: 15px;
    }
    &__div {
      width: 100%;
      height: 60vh;
    }
    &__h2 {
      font-size: $tablet-h2-font-size;
      margin-bottom: 50px;
    }
    &__p {
      padding: 8px;
      font-size: $tablet-font-size;
    }
  }
}

@media screen and (min-width: $breakpoint-phone-landscape) and (orientation: landscape) {
  .details {
    padding: 10px;
    &__h1 {
      font-size: $phone-h1-font-size;
      padding-bottom: 5px;
    }
    &__div {
      width: 100%;
      height: 85vh;
    }
    &__h2 {
      font-size: $phone-h2-font-size;
      margin-bottom: 30px;
    }
    &__p {
      padding: 6px;
      font-size: $phone-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-tablet-landscape) and (orientation: landscape) {
  .details {
    padding: 10px;
    &__h1 {
      font-size: $tablet-h1-font-size;
      padding-bottom: 15px;
    }
    &__div {
      width: 100%;
      height: 60vh;
    }
    &__h2 {
      font-size: $tablet-h2-font-size;
      margin-bottom: 50px;
    }
    &__p {
      padding: 8px;
      font-size: $tablet-font-size;
    }
  }
}
@media screen and (min-width: $breakpoint-desktop) {
  .details {
    padding: 15px;
    &__h1 {
      font-size: $desktop-h1-font-size;
      padding-bottom: 10px;
    }
    &__div {
      width: 100%;
      height: 90vh;
    }
    &__h2 {
      font-size: $desktop-h2-font-size;
      margin-bottom: 30px;
    }
    &__p {
      padding: 10px;
      font-size: $desktop-font-size;
    }
  }
}
