$phone-font-size: 14px;
$tablet-font-size: 22px;
$desktop-font-size: 25px;

$phone-h1-font-size: 35px;
$tablet-h1-font-size: 50px;
$desktop-h1-font-size: 55px;

$phone-h2-font-size: 24px;
$tablet-h2-font-size: 34px;
$desktop-h2-font-size: 36px;

$breakpoint-phone: 0px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$breakpoint-phone-landscape: 0px;
$breakpoint-tablet-landscape: 1020px;

$font-color-primary: white;
$font-color-secondary: #ebe9e9;

$mercedes-color: #00d2be;
$redbull-color: #16185f;
$mclaren-color: #ff8700;
$ferrari-color: #ff0000;
$alpine-color: #0e1c2c;
$aston-martin-color: #02574f;
$alpha-tauri-color: #27284f;
$williams-color: #02a8ea;
$alfa-romeo-color: #990000;
$haas-color: #ed1a3b;

$calendar-box-shadow-color: #023e8a;
$calendar-bg-color: #0077b6;
$calendar-border-color: #00b4d8;

$drivers-box-shadow-color: #d43c00;
$drivers-bg-color: #ff7810;
$drivers-border-color: #fdac42;

$tracks-box-shadow-color: #005300;
$tracks-bg-color: #2d8d00;
$tracks-border-color: #8ef160;

$constStd-box-shadow-color: #3d3d3d;
$driverStd-box-shadow-color: #3d3d3d;

$start-box-shadow-color: black;
$news-wrap-color: rgba(0, 0, 0, 0.65);

$header-bg-color: rgb(245, 0, 0);
$footer-bg-color: rgb(114, 163, 253);

$primary-font-family: "Lato", sans-serif;
$default-font-family: "Arial", sans-serif;

$phone-header-height: 12vh;
$tablet-header-height: 12vh;
$desktop-header-height: 12vh;

$phone-header-icon-size: 50px;
$tablet-header-icon-size: 90px;
$desktop-header-icon-size: 95px;

$phone-icon-size: 40px;
$tablet-icon-size: 75px;
$desktop-icon-size: 55px;

$phone-loader-size: 110px;
$tablet-loader-size: 160px;
$desktop-loader-size: 120px;
